
<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Spotify API</title>
  <meta name="description" content="Spotify API">
  <meta name="author" content="Pierluigi Ballatore">

  <link rel="stylesheet" href="style.css">

</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="spotify.js"></script>

<div id="gradient" class="row red-background">

	<div class="col-2">
		<img src="Images/gl-logo@2x.png"></img>
	</div>

  <div class="col-8">
    <img src="Images/hero-img@2x.png"></img>
    <div class="center-col1">
      <img src="Images/Page 1@2x.png"></img>
    </div>
  </div>

  <div class="col-2 right">Powered by Spotify</div>
</div>

<div ng-app="Spotify" ng-controller="Search">
<div id="center-color" class="row">
  <div class="center-col3">
    <input type="text" ng-model="searchinput" 
         ng-model-options="{ debounce: 800 }" name="searchfield" placeholder="Search for artist or album title" class="rounded" /> 
    <!--<input type="submit" value="Search" />-->
  </div>
</div>

<div id="bottom-color" class="row">
  
  <ul class="list-row-padding">
    
    <li ng-click="openModal(item)" ng-show="item.imageurl" class="col-3" ng-repeat="item in searchdata">
			<div class="image">
        <img ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseout="hover = false" ng-class="{'blur': hover}" src="{{item.imageurl}}" alt="{{item.desc}}"/>
    	  <div  ng-mouseenter="hover = true" ng-mouseout="hover = false" ng-class="{'icon': hover == false, 'tracks-icon': hover == true}">
    		  <img src="Images/{{(hover == false)?item.type:'track'}}-icon@2x.png" alt="{{item.type}}"/>  
          {{hover?'View ' + item.type:''}}
    	  </div>
	   </div>
      <div class="desc">{{item.desc | cut:true:20:' ...'}}</div>
    </li>
    
  </ul>

  <!-- The Modal -->
<div ng-show="isOpenModal" id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span ng-click="openModal()" class="close">&times;</span>
    <img src="{{selectedItem.imageurl}}"/>

  </div>

</div>

  <div ng-show="!searchdata.length" class="center-col3 center-text">
      <img src="Images/Magnify@2x.png"></img>
      <span id="color-text-search">Your result will appear here</span>
  </div>

  <div class="col-12">
    <div class="center-col3">
        <button id="show-more-btn" ng-show="searchdata.length" ng-click="offset=offset+20; fetch()" >
          SHOW ME MORE!
        </button>
    </div>
  </div>

  <div class="col-12 footer">
    <p>Designed by Geek Label (Pierluigi Ballatore) - Powered by Spotify</p>
  </div>

</div>

</div>

</body>
</html>